<script>
$(document).ready(function(){
  $('#link1').css({
    "animation": "bounceIn .8s",
    "display":"block"
  });
  $('#link2').css({
    "animation": "bounceIn 1.5s",
    "display":"block"
  });
  $('#link3').css({
    "animation": "bounceIn 2.2s",
    "display":"block"
  });
  $('#link4').css({
    "animation": "bounceIn 2.9s",
    "display":"block"
  });
  $('#link5').css({
    "animation": "bounceIn 3.8s",
    "display":"block"
  });
});
$(document).ready(function(){
  $("#card1").css({
    "animation": "zoomIn .9s"
  });
  $("#card2").css({
    "animation": "zoomIn 1s"
  });
  $("#card3").css({
    "animation": "zoomIn 1.1s"
  });
});

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

<div class="container" id="myDiv">
  <div class="row">
        <a id="link1" href="tel:+91-9994766212" style="color:white;"><i class="fa fa-mobile" aria-hidden="true"></i></a>
        <a id="link2" href="https://www.facebook.com/Pravara-Study-Hall-204572583310197/" style="color:white;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a id="link3" href="https://www.google.co.in/maps/place/Pravara+Study+Hall/@13.0866496,80.1986992,3a,75y,90t/data=!3m8!1e2!3m6!1sAF1QipPki362r12B2fhNRRUzeqcxJyf1STrdxEBZtAhE!2e10!3e12!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPki362r12B2fhNRRUzeqcxJyf1STrdxEBZtAhE%3Dw392-h220-k-no!7i5312!8i2988!4m19!1m13!4m12!1m4!2m2!1d80.1137089!2d13.0733522!4e1!1m6!1m2!1s0x3a52641b350a3b55:0x98d4557e50ffe41c!2sPravara+Study+Hall,+254-116,+Jawaharlal+Nehru+Rd,+Saptagiri+Colony,+Anna+Nagar,+Chennai,+Tamil+Nadu+600040!2m2!1d80.1988324!2d13.0866505!3m4!1s0x3a52641b350a3b55:0x98d4557e50ffe41c!8m2!3d13.0866505!4d80.1988324" style="color:white;"><i class="fa fa-image" aria-hidden="true"></i></a>
        <a id="link4" href="https://twitter.com/pravara_study?lang=en" style="color:white;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a id="link5" href=""  ng-click = 'redirectFun()' style="color:white;"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
  </div>
  <div class="row" id="head">
    <img id="banner" src="../public/images/banner1.png" alt="">
  </div>
  <div class="row" id="left" >
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12" id="lefthead">
          <h1 id="Name">Pravara</h1>
          <h4 id="Des"> S t u d y H a l l</h4>
          <h6 id="qu"> EXPERIENCE PEACEFUL STUDYING</h6>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="right">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <button class="accordion" id="card1">Timing Details</button>
        <div class="panel">
          <div class="card-body1" style="text-align:center; font-weightbold;">
            <h5 class="card-subtitle" style="color:#white;">Morning Batch</h5>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">07:00 - 12:00</h5><br>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">Afternoon Batch</h5>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">12:00 - 17:00</h5><br>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">Evening Batch</h5>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">17:00 - 22:00</h5><br>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">Full Batch</h5>
            <h5 class="card-subtitle" style="color:#white;margin-top:-5px;">07:00 - 22:00</h5>
          </div>
        </div>

        <button class="accordion" id="card2">Facilities</button>
        <div class="panel">
          <div class="card-body1" style="text-align:center;">
            <h5 class="card-subtitle"  style="color:#white;">- WiFi</h5><br>
            <h5 class="card-subtitle"  style="color:#white;">- Fully air conditioned</h5><br>
            <h5 class="card-subtitle"  style="color:#white;">- Seperate hall for women</h5><br>
            <h5 class="card-subtitle"  style="color:#white;">- Individual cabin for study</h5><br>
            <h5 class="card-subtitle"  style="color:#white;">- Discussion Hall</h5><br>
            <h5 class="card-subtitle"  style="color:#white;">- Reputed Magazines</h5>
        </div>
        </div>

        <button class="accordion" id="card3">More Info</button>
        <div class="panel">
          <div class="card-body1" style="text-align:center;">
            <h5 class="card-subtitle" style="color:#white;font-weight: bold;">Registration</h5><br>
            <h5 class="card-subtitle" style="color:#white;">Come and Register yourself</h5><br>
            <h5 class="card-subtitle" style="color:#white;"><i class="fa fa-inr" style="font-size:16px"></i> 600 per batch</h5><br>
            <h5 class="card-subtitle" style="color:#white;"><i class="fa fa-inr" style="font-size:16px"></i> 1800 per month</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-4"></div>
    </div>
</div>
<div class="row">
  <div class="col-md-12"  id="foot">
    <p>120/1, Thirumangalam, Sapthagiri Colony, 15th Main Road, Anna Nagar West, Chennai - 600 040</p>
  </div>
</div>
</div>
