
<div id="home" class="firstSection">
  <div class="text-center">
    <h1>Bio</h1>
    <br><br>
    <img src="../public/images/brand.jpeg" id="bioImg" alt="">
    <br><br><br>
    <p id="name"><span id="hello">Hello</span>, my name is Suren.</p>
    <div id="des">
      <p>I'm a fullstack developer</p>
      <p> and UI/UX designer. I</p>
      <p>love making colorful and</p>
      <p> responsive web designs.</p>
      <p>View samples on my portfolio</p>
    </div>
    <br><br><br>
    <ul>
      <li><a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
      <li><a class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a></li>
      <li><a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a></li>
      <li><a class="btn btn-social-icon btn-pinterest"><span class="fa fa-pinterest"></span></a></li>
    </ul>
  </div>
</div>
<section class="text-center" id="skills">
  <h1>Skills</h1>
  <br><br><br>
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/design.png" alt="Card image cap">
        <div class="card-head">
          <h3>Design</h3>
        </div>
        <br>
        <div class="card-body">
          <p class="card-text">For every projects I start drawing designs using pen and paper. Later I would make some UI samples using Photoshop and Illustrator. I am currently learning Sketch app for UI/UX design and development.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/code.png" alt="Card image cap">
      <div class="card-head">
        <h3>Code</h3>
      </div>
      <br>
        <div class="card-body">
          <p class="card-text">For developing UI/UX I use HTML CSS and JavaScript. And for the front end development I use Bootstrap for the responsive website. I am currently learning AngularJs for better User Experience.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/js.png" alt="Card image cap">
      <div class="card-head">
        <h3>Development</h3>
      </div>
      <br>
        <div class="card-body">
          <p class="card-text">For backend operations I use ExpressJs and NodeJs. Where ExpressJs is a web application framework for Node Js. And NodeJs is Open source,cross-platform for executing JavaScript code on server</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/database.png" alt="Card image cap">
      <div class="card-head">
        <h3>Database</h3>
      </div>
      <br>
        <div class="card-body">
          <p class="card-text">For Database Management I use MonogDb. It is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center" id="portfolio">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/port1.jpg" alt="Card image cap">
      <div class="card-head">
        <h3>Pravara</h3>
      </div>
      <br>
        <div class="card-body">
          <ul>
            <li><a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
            <li><a class="btn btn-social-icon btn-linkedin"><span class="fa fa-google"></span></a></li>
            <li><a class="btn btn-social-icon btn-instagram"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/port2.jpg" alt="Card image cap">
      <div class="card-head">
        <h3>DiyaStyle</h3>
      </div>
      <br>
        <div class="card-body">
          <ul>
            <li><a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
            <li><a class="btn btn-social-icon btn-linkedin"><span class="fa fa-google"></span></a></li>
            <li><a class="btn btn-social-icon btn-instagram"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
      <img class="card-img-top" src="../public/images/port3.jpg" alt="Card image cap">
      <div class="card-head">
        <h3>ForHire</h3>
      </div>
      <br>
        <div class="card-body">
          <ul>
            <li><a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
            <li><a class="btn btn-social-icon btn-linkedin"><span class="fa fa-google"></span></a></li>
            <li><a class="btn btn-social-icon btn-instagram"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="text-center">
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <input type="text" class="form-control" id="Name" placeholder="Name">
    <input type="text" class="form-control" id="mes" placeholder="Message">
    <button type="submit" id="send"class="btn btn-default"><span class="fa fa-send"></span></button>
  </div>
</section>
<section id="foot">
  <div class="text-center">
    <div class="row">
      <div class="container">
        <ul>
          <li><a class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></li>
          <li><a class="btn btn-social-icon btn-linkedin"><span class="fa fa-linkedin"></span></a></li>
          <li><a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="row" style="color:#666666">
      <div class="col-sm-12">
        <p>@ Suren all rights reserved</p>
      </div>
    </div>
  </div>
</section>
