<div class="container-fluid">
<div class="row content">
  <div class="col-sm-6"></div>
  <div class="front col-sm-3" id="map" ng-init="initMap()"></div>
  <div class="col-sm-3" >
  <a ><button class="col-sm-4" class="btn btn-default" id="btne">Call-9790425370</button></a>
  <a ><button class="col-sm-4" class="btn btn-default" id="btne" ng-click = 'redirectFun()'> Get Direction</button></a>
  </div>
  <!-- <div ng-repeat ="pos in locations">
    locat,{{pos.myLat}},{{pos.myLng}}
  </div> -->
</div>
<!-- <input type="submit" name="" value="Call-9790425370"> -->
<!-- <button type="button" name="button" >click</button> -->
</div>
