html{
              height:100%;
          }
body{


margin: 10px auto;


}

#map{
    height:450px;
    width:450px;
          }

.label-left{

  color: #B4886B;
  font-weight: bold;
  display:inline-block;

  float:left;



}
