@media (max-width: 720px){
html{
  height: 100%;
}
body{
  /* height: 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background:linear-gradient(to bottom right,#00f4fd 0%, #192543 90%);
}
.brandback{
  background:linear-gradient(to bottom right,#00e8f1 0%, #009ea2 90%);
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
ul{
  position: absolute;
  top: 2%;
  left: 2.5%;
  /* transform: translate(50%, 50%); */
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  list-style:none;
}
ul li a{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #dedede;
  display: block;
  text-align: center;
  margin: 0 20px;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg,#ddd,#fff);

  transition: .5s;

}
ul li a:hover{
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
ul li a .fa{
  width: 100%;
  height: 100%;
  display: block;
  background : linear-gradient(0deg,#fff,#ddd);
  border-radius: 50%;
  line-height: calc(40px - 6px);
  font-size: 24px;
  color: #232323;
  transition: .5s;
}
ul li:nth-child(1) a:hover .fa{
  color: #000000;
}
ul li:nth-child(2) a:hover .fa{
  color: #3b5998;
}
ul li:nth-child(3) a:hover .fa{
  color: #1e00ff;
}
ul li:nth-child(4) a:hover .fa{
  color: #00aced;
}
ul li:nth-child(5) a:hover .fa{
  color: #dd4b39;
}
#brand{
  width: 180px;
  height: auto;
  margin-top: 12%;
  left: 28%;
  position: absolute;
  transition: .8s;
}
#Name{
  color: #dedede;
  position: absolute;
  margin-top:45%;
  left: 20%;
  font-size: 68px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  text-shadow: 0px 2px 5px black;
  transition: .8s;
}
#Des{
  color: #dedede;
  position: absolute;
  margin-top:62%;
  left: 38%;
  font-size: 14px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  transition: .8s;
}
#qu{
  color: #dedede;
  position: absolute;
  margin-top:65%;
  left: 31%;
  font-size: 10px;
  font-family: Century Gothic, sans-serif;
  transition: .8s;
}
#exampleModal1{
  margin-top: 20%;
  width: 100%;
  height:400px;
  text-align: center;
}
#modalback3,#modalback1,#modalback2{
  background:linear-gradient(to bottom right,#00f4fd 0%, #192543 90%);
  border-radius: 0%;
}
#exampleModal2{
  margin-top: 20%;
  width: 100%;
  height:400px;
  text-align: center;
  /* background:linear-gradient(to bottom right,#00f4fd 0%, #192543 90%); */
}
#exampleModal3{
  margin-top: 20%;
  width: 100%;
  height:400px;
  text-align: center;
  /* background:linear-gradient(to bottom right,#00f4fd 0%, #192543 90%); */
}
  #card1{
    background:linear-gradient(to bottom right,#b62974 0%, #d11a5f 90%);
  padding: 3%;
  position: absolute;
  margin: 0 10px;
  margin-top: 80%;
  margin-left: 0%;
  width: 40%;
  height: 120px;
  color:white;
  font-size: 18px;
  font-family: Century Gothic, sans-serif;
  /* background: #dedede; */
  text-align: center;
  box-shadow: 0px 3px 15px black;
  border-radius: 10%;
}
  #card2{
    background:linear-gradient(to bottom right,#b62974 0%, #d11a5f 90%);
    padding: 3%;
    position: absolute;
    margin: 0 10px;
    margin-top:80%;
    margin-left: 52%;
    width: 40%;
    height: 120px;
    color:white;
    font-size: 18px;
  font-family: Century Gothic, sans-serif;
    /* background: #dedede; */
    text-align: center;
    box-shadow: 0px 3px 15px black;
    border-radius: 10%;
}
  #card3{
    background:linear-gradient(to bottom right,#b62974 0%, #d11a5f 90%);
    padding: 3%;
    position: absolute;
    margin: 0 10px;
    margin-top: 120%;
    margin-left: 25%;
    width: 40%;
    height: 120px;
    color:white;
    font-size: 18px;
    font-family: Century Gothic, sans-serif;
    /* background: #dedede; */
    text-align: center;
    box-shadow: 0px 3px 15px black;
    border-radius: 10%;
}
#foot{
      color: #dedede;
      margin-top: 155%;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      font-family: Century Gothic, sans-serif;
    }
    .dropdown-menu{
      height: 300px;
      width: 100%;

    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
    @keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1);
  }

  50% {
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 300%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
}
