
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;;
	-moz-box-sizing: border-box;;
	box-sizing: border-box;;
}
.wrrapNavbar{
	position: absolute;
	width: 100%;
}
.navbar-transparent{
	background-color: transparent;
  color: black;
	border-bottom: 0px;
	border: 0px;
	padding: 0;
	margin: 0;
	border-radius: 0;
  padding-top: 10px;
  height: 70px;
	display: block;
}
.navbar-transparent .navbar-brand{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#brand{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 0px;
}
.navbar-right {
    float: right!important;
    margin-right: 63px !important;
}
.navbar-transparent .navbar-nav>li>a{
  margin-top: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.navbar-toggle{
	color: white;
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 0px;
  border: none;
}
/* .icon-bar{
	color:white;
}
.icon-bar:hover{
	color:black;
} */
.navbar-toggle:hover{
  background-color: white;
	color:black;
}
.firstSection{
	height: 100vh;
	width: 100%;
  color: white;
  padding-top: 5%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, .7)),url(../images/back1.jpg);
  background-attachment:fixed;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
#portfolio, #skills, #contact,#foot{
	width: 100%;
}
#home h1{
  font-size: 2em;
  color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#skills{
  height: auto;
  color: white;
	background-color: #fff;
  padding-top: 2%;
  padding-bottom: 11%;
  padding-left: 5%;
  padding-right: 5%;
}
#skills h1{
  font-size: 2em;
  color: black;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#portfolio{
	padding: 3%;
  height: auto;
	background-color: #dddddd;
}
#contact{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  height: auto;
	background-color: #fff;
}
#contact button{
	margin-top: 2%;
	height: 50px;
	width: 100px;
	box-shadow: 0px 0px 20px #cccccc;
	border-radius: 9px;
}
#foot{
  height: auto;
  background-color: #212022;
}
#bioImg{
  /* margin-left: 45%; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#home p{
  color: #white;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
#name{
  font-size: 2em;
}
#hello{
  color: #fff;
  font-weight: bold;
}
#des{
  justify-content: center;
  font-size: 1.5em;
}
#home ul {
    display: inline;
    list-style-type: none;
}
#home li {
    display: inline;
}
#home li a {
    font-size: 1.2em;
    display: inline;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
#foot ul {
    display: inline;
    list-style-type: none;
}
#foot li {
    display: inline;
}
#foot li a {
    font-size: 1.2em;
    display: inline;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
#portfolio .card ul {
    display: inline;
    list-style-type: none;
}
#portfolio .card li {
    display: inline;
}
#portfolio .card li a {
    font-size: 1.2em;
    display: inline;
    color: #212022;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
#foot .row{
	margin-left: 0%;
  	width: 100%;
	padding-top:2%;
	padding-bottom: 2%;
}
#skills .card{
  margin: 5%;
  padding:3%;
  color: #white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #212022;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #555;
}
#skills .card h3{
	font-size: 2em;
}
#skills .card p{
  font-size: 1.2em;
}
#skills .card-img-top{
  width: 70px;
  height: auto;
}
#portfolio .card{
  margin: 5%;
  padding-bottom:2%;
  color: #white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px .1px 20px #888;
}
#portfolio .card h3{
	font-size: 2em;
}
#portfolio .card p{
  font-size: 1.2em;
}
#portfolio .card-img-top{
  width: 100%;
  height: auto;
}
.form-control{
	border: none;
	background-color: #cdcdcd;
  height: 8vh;
  border-radius: 6px;
	text-decoration: none;
	color: white;
}
#mes{
  height: 20vh;
}
#contact input{
	color:black;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-weight: bold;
  margin-top:2%;
  margin-bottom: 2%;
  width: 100%;
}
@media (max-width:990px){
	.navbar-transparent{
		display:none;
	}
}
